.partTitle{
    width: 100%;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    margin: 15px 50px;
}
.Karousel__card{
    background-color: #FAFAFA !important;
    margin-bottom: 20px;
    border: none !important;
    border-top: 3px solid #E1E1E1 !important;
    border-radius: 0;
    width: 380px !important;
    height: 261px !important;
}
.KarouselAccor__cardPartBl{
    border-top: 3px solid #28468C !important;
}
.KouchAccor__accordion:first-child .accordion__title, .KouchAccor__accordion:first-child .MuiAccordionSummary-expandIconWrapper {
    color: #28468C;
}
.Karousel__cardTitle{
    color: #0F0F0F;
    font-size: 20px;
    line-height: 26px;
    font-weight: 510;
}
.Karousel__cardContent{
    position: relative;
    color: #828282;
    font-size: 18px;
    line-height: 25.2px;
    font-weight: 400;
    top: 10px;
    margin: 0 auto;
}
.Karousel__cardLink a{
    color: #0F0F0F !important;
    text-decoration: underline;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.48px;
    margin: 10px auto;
}
.Video__cardContent{
    position: absolute;
    color: #828282;
    font-size: 14px;
    line-height: 16px;
    font-weight: 274;
    bottom: 15px;
    left: 15px;
}
.CarouselVideo{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    top: 0;
}

@media screen and (min-width:1200px) {
    .container{
        max-width: 1200px;
        margin: 0 auto;
    }
}