.WhoBlock{
    display: flex;
    flex-direction: column;
}
.WhoBlockText{
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    width: 525px;
    height: 88px;
    color: #0F0F0F;
}
.WhoBlockBlocks{
    display: flex;
}
.WhoBLockCards{
    display: flex;
    flex-wrap: wrap;
}
#BlockCard{
    margin-top: 20px;
    width: 350px;
    height: 160px;
}
.WhoLeftBlocks{
    height: 565px;;
}
#btnRoyhat{
    margin-top: 30px;
    width: 246px;
    height: 65px;
    left: 200px;
    top: 468px;
    background-color: #28468C;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px !important; 
}
#CardSecondBlock{
    width: 309px;
}
.WhoBlockBlocks{
    margin-top: 40px;
}

@media screen and (min-width:1400px) {
    .WhoBlock{
        max-width: 1200px;
        margin: 120px auto;
    }
    
}