#LogosecItem{
    /* height: auto !important; */
    width: 100% !important;
    padding: 0px !important;
}
.css-i9gxme{
    overflow: hidden;
    width: 100%;
}
#ustkidiv{
    width: 100% !important;
}
#LogoSecItemImg{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}
@media screen and (max-width: 1200px) {
    .react-multi-carousel-item{
        margin: 0 !important;
    }
    
}
@media screen and (max-width: 947px) {
    .LogoSection .react-multiple-carousel__arrow--right,.LogoSection .react-multiple-carousel__arrow--left{
        top: 50% !important;
    }
    
}
@media screen and (max-width: 768px) {
    #LogosecItem{
        height: 100% !important;
        width: 90% !important;
        margin: 0 auto;
    }
    .react-multi-carousel-item{
        margin: 0px !important;
    }
    #LogoSecItemImg{
        object-fit: cover !important;
    }
    
}
@media screen and (max-width: 576px) {
    #LogosecItem{
        width: 90% !important;
        height: 100% !important;
        margin: 0px  auto!important;
    }
    #LogoSecItemImg{
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
    }
    .react-multi-carousel-item{
        margin: 0px !important ;
    }
    .LogoSection .react-multiple-carousel__arrow--right,.LogoSection .react-multiple-carousel__arrow--left{
        top: 50% !important;
    }
    
}