.KouchLavhalar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.VideoLavhalar{
    width: 298px;
    height: 68px;
    font-size: 30px;
    line-height: 34px;
    font-family: 'SF-Pro', sans-serif;
    font-style: normal;
    color: #0F0F0F;
}
.LinkRoyhat{
    /* width: 166px; */
    height: 22px;
}
.Videoss{
    display: flex;
    justify-content: space-between;
}
.firstVideo{
    width: 790px;
    height: 444px;
    margin-left: 20px auto;
    border: 1px solid #28468C;
}
.NavVideos{
    height: 444px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.videosName{
    width: 380px !important;
    height: 90px !important;
    display: flex;
    /* justify-content: space-between; */
    text-align: center;
    align-items: center;
    background-color: #F0F0F0;
    border: none;
    width: 360px;
    padding: 20px ;

}
.videosName2{
    height: 65px;
    width: 380px !important;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #F0F0F0;
    border: none;
    width: 360px;
    padding: 20px;

}
.VideosText{
    margin-left: 20px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-decoration-line: underline;

    /* or 25px */

    color: #828282;
}
.videosName .VideosText{
    color: #28468C !important;
    text-decoration-line: underline;
}
.FonVideos{
    background: #FAFAFA;
    width: 1400px;
    padding-right: 200px;
    


}
.VideosBlock{
    padding-left: 100px;
    padding-top: 28px;
    padding-bottom: 120px;
}


@media screen and (min-width: 1400px) {
    .VideosBlock{
        max-width: 1200px;
        margin: 0 auto;
        background: #FAFAFA;
        padding-left: 100px;
    }
    .FonVideos{
        width: 1600px;
        margin: 0 auto;
        margin-left: 80px;
        
        
    }
    .BigVideoTab{
        max-width: 1600px;
        margin: 0 auto;
    }
    
}
