
*{
    font-family: 'SF Pro', sans-serif !important;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.MainNavLi{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-top: 20px;

}
.MainNavLi li{
    margin: 20px 20px;
    list-style-type: none;
    height: 20px;
}
.NumberNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 28px;
    margin-top: 40px;
    width: 154px;
}
.NumberNav h2 {
    margin: 0px;
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 15.2px;
    /* or 15px */
    
    text-align: right;
    text-transform: uppercase;
    
    color: #0F0F0F;
}

.Navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin: 0 auto;

}
.kursgaYozilish{
    color: #28468C;
    font-size: 10px;
    margin: 0px;
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 400;
    line-height: 95%;
    text-align: right;
    text-transform: uppercase;
}

@media screen and (min-width: 1400px) {
    .Navbar{
        max-width: 1200px;
    }
    
}
/* @media screen and (min-width: 786px) {
    .MainTopBlock{
        max-width: 100%;
        margin: 0 5%;
    }
    .KouchDasturiBlock{
        max-width: 100%;
        margin: 0 5%;
    }
    .KouchDasturiBlock{
        max-width: 100%;
        margin: 0 5%;
    }
    .BigVideoTab{
        max-width: 100%;
        margin: 0 5%;
    }
    .Navbar{
        max-width: 100%;
        margin: 0 5%;
    }
    .BigVideoTab{
        max-width: 100%;
        margin: 0 5%;
    }
    
} */
@media screen and (max-width: 1200px) {
    .MainNav{
        display: none;
    }
    .MainTopBlock {
        flex-direction: column;
        margin-top: 20px !important;
    }
    .MainTopBlock:first-child{
        width: 720px;
    }
    .CarouselMain{
        margin-top: 20px;
    }
    .TopTextBlock h2{
        margin: 0;
        width: 100% !important;
    }
    .TopBtn {
        margin-top: 60%;
    }
    .KouchDasturiMini{
        flex-wrap: wrap;
        justify-content: flex-start !important;
    }
    .Videoss{
        flex-direction: column-reverse;
    }
    .FonVideos {
        width: 100%;
        
    }
    .VideosBlock {
        padding: 0px;
    }

    .CarouselMain{
        width: 100%;
    }
    .CarouselLow {
        width: 100% !important;
    }
    .CarouselMain:first-child{
        width: 100%;
    }
    .VideosBlock{
        width: 100%;
    }
    .MainTopBlock img {
        width: 100% !important;
    }
    .CarouselSize{
        width: 100% !important;
        height: 100% !important;
    }
    .CarouselMain{
        width: 100% ;
    }
    .Cards{
        flex-wrap: wrap;
    }
    .Card{
        margin-top: 20px;
    }
    .VideoLavhalar{
        width: 100%;
    }
    .firstVideo {
        width: 100% !important;
        height: 100% !important;
    }
   
    
    
}