
*{
    font-family: 'SF Pro', sans-serif !important;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 207px;
}
.LogoTextBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}
.logo a{
    text-decoration-line: none;
}
.LogoText{
    margin: 0px;
    font-family: 'SF Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 95%;
    
    /* or 15px */

    text-transform: uppercase;

    color: #0F0F0F;
}
.LogoLowText{
    margin: 0px;
    color: #28468C;
    font-weight: 400;
    font-size: 10px;
    font-family: 'SF Pro', sans-serif;
    letter-spacing: 4%;
    line-height: 9.5px;
}
.MainNavLi{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-top: 20px;

}
.MainNavLi li{
    margin: 20px 20px;
    list-style-type: none;
    height: 20px;
}
.MainNavLi a{
    color: black;
    text-decoration-line: none;
}
.NumberNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 28px;
    margin-top: 40px;
}
.NumberNav h2 {
    margin: 0px;
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 15.2px;
    /* or 15px */
    
    text-align: right;
    text-transform: uppercase;
    
    color: #0F0F0F;
}

.Navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin: 0 auto;

}
.kursgaYozilish{
    color: #28468C;
    font-size: 10px;
    margin: 0px;
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 400;
    line-height: 95%;
    text-align: right;
    text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
    .Navbar{
        max-width: 1200px;
    }  
}
@media screen and (max-width: 1200px) {
    .Navbar {
        width: 90%;
        margin: 0 5%;
    }
    
}

@media screen and (max-width: 947px) {
    .Navbar{
        margin: 0 40px;
        height: 80px;
    }
    .NumberNav {
        margin-top: 30px;
    }
    
}

@media screen and (max-width: 576px) {
    .Navbar{
        margin: 0 20px 0 20px !important;
    }

    
}
