/* .firstVideo{
    width: 790px !important ;
    height: 444px !important;
}
#vertical-tabpanel-1, #vertical-tabpanel-2, #vertical-tabpanel-3, #vertical-tabpanel-4, #vertical-tabpanel-5{
    width: 790px !important;
    height: 444px !important;
}
.css-35zqo5-MuiTabs-root{
    width: 400px;
    height: 444px;
}

.css-10d9dml-MuiTabs-indicator{
    display: none;
}
.css-17n50n7-MuiTabs-root{
    width: 400px;
    height: 500px;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    width: 380px;
    height: 90px;
    margin: 10px auto;
  
    background: #F0F0F0 !important;
}
.TabsNumber{
    margin: 20px auto !important;
} */
