.rowCarousel{
    display: flex;
}
.rowCarousel > div {
    margin: 0 50px;
}
.partTitle{
    width: 100%;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    margin: 15px 50px;
}

.Karousel__card{
    background-color: #FAFAFA !important;
    margin-bottom: 20px;
    border: none !important;
    border-top: 3px solid #E1E1E1 !important;
    border-radius: 0;
    width: 380px !important;
    height: 261px !important;
}
.KarouselAccor__cardPartBl{
    border-top: 3px solid #28468C !important;
}
.KouchAccor__accordion:first-child .accordion__title, .KouchAccor__accordion:first-child .MuiAccordionSummary-expandIconWrapper {
    color: #28468C;
}
.Karousel__cardTitle{
    color: #0F0F0F;
    font-size: 20px;
    line-height: 26px;
    font-weight: 510;
}
.Karousel__cardContent{
    position: relative;
    color: #828282;
    font-size: 18px;
    line-height: 25.2px;
    font-weight: 400;
    top: 10px;
    margin: 0 auto;
}
.Karousel__cardLink a{
    color: #0F0F0F !important;
    text-decoration: underline;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.48px;
    margin: 10px auto;
}
.react-multi-carousel-item, .react-multi-carousel-item--active {
    margin: 0 20px !important;
}

@media screen and (min-width:1200px) {
    .container{
        max-width: 1200px;
        margin: 0 auto;
    }
    
}
.css-1qxcd35-MuiGrid-root{
    width: 100vw !important;
}

/* Tablet Start */
@media screen and (max-width: 768px) {
    
}
/* Tablet Finish */
@media screen and (max-width: 947px) {

}
/* Laptop */
@media screen and (max-width: 1200px) {
    /* .MuiPaper-root, .MuiPaper-outlined, .MuiPaper-rounded, .MuiCard-root, .Karousel__card, .KarouselAccor__cardPartBl, */
    .css-1v5z4dq-MuiPaper-root-MuiCard-root{
        width: 300px !important;
        height: 261px;        
    }
    /* .react-multi-carousel-list  {
        width: 1000px;
    } */
    .react-multi-carousel-item, .react-multi-carousel-item--active {
        margin: 0 25px !important;
    }
}