.LogoSecItem{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 345px;
    z-index: 10;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
}
.LogoSecItem:hover{
    transition: 0.5s ease all;
}
.css-1sir9cm-MuiPaper-root{
    padding: 0;
}
.LogoSecItemImg{
    width: 380px ;

}
.asdas{
    display: flex;
    flex-direction: row;
    width: 100%;
}
/* .react-multi-carousel-list{
    width: 100vw;
} */

.FaqsLogoRow{
    width: 90%;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    height: 150px;
    margin-top: 50px;
}
.ustkidiv{
    display: flex;
}
.ustkidiv > *{
    margin: 0 25px;
}

.LogoSection ::-webkit-scrollbar{
    width: 10px;
    height: 2px;
    background-color: inherit;
    margin-right: 10px;

}
::-webkit-scrollbar-thumb{
    background-color:#28468C;
    width: 20px;
    opacity: 0.5;
}

@media screen and (min-width:1200px) {
    .container{
        max-width: 1200px;
        margin: 0 auto;
    }
}
@media screen and (max-width:768px){
    .LogoSecItem{
        height: 70px !important;
    }
    .LogoSecItemImg{
        width: 170px !important;
        height: 70px !important;
    }
    .css-1sir9cm-MuiPaper-root{
        padding: 3px !important;
    }
    /* .css-1y5qi0o-MuiGrid-root>.MuiGrid-item ,
    .css-rog8y0-MuiGrid-root{
        width: 170px !important;
    } */
    .css-1y5qi0o-MuiGrid-root>.MuiGrid-item:nth-child(8){
        display: none !important;
    }
    
}
@media screen and (max-width: 576px) {
    .container {
        margin-top: 80px !important;
    }
    
}