.LogoSecItem{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 100000000;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
}
.LogoSecItem:hover{
    transition: 0.5s;
}

/* .react-multi-carousel-list{
    width: 100vw;
} */
@media screen and (min-width:1200px) {
    .container{
        max-width: 1200px;
        margin: 0 auto;
    }
    
}